[ ca ]
default_ca = server_ca

[ server_ca ]
dir               = $ENV::CWD/pki
database          = $dir/server-ca/index.txt
serial            = $dir/server-ca/serial.txt
new_certs_dir     = $dir/server-ca/signed-certs
certificate       = $dir/server-ca/$ENV::CA_CN.crt
private_key       = $dir/server-ca/$ENV::CA_CN.key
copy_extensions = copy
default_md        = sha256
policy            = policy_any

[ policy_any ]
commonName        = supplied

[ req ]
default_bits        = 4096
prompt              = no
default_md          = sha256
distinguished_name  = dn
req_extensions      = v3_server

[ v3_server ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = $ENV::DNS
DNS.2 = *.$ENV::DNS

[ dn ]
O  = $ENV::O
CN = $ENV::CN
