# NOTE: Copy this file and rename to local.env

GENERAL_LOG_LEVEL=info

CORE_CQRS_REQUEST_TIMEOUT_SECS=3600

CORE_DB_USER=nikki_admin
CORE_DB_PASSWORD=nikki_password
CORE_DB_TLS_ENABLED=false
CORE_DB_ORM_DEBUG_ENABLED=true
CORE_DB_MAX_IDLE_CONNS=10
CORE_DB_MAX_OPEN_CONNS=100

CORE_EVENT_REDIS_PASSWORD=nikki_password
